
@{
    ViewBag.Title = "Demo";
    ViewBag.Thongtin = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Demo</h2>
@using (Html.BeginForm())
{
    <label>Masinhvien:</label>
    <input type="text" name="Masinhvien" value="" />
    <input type="submit" name="Gui du lieu" value="" />
    <label>HoTenSinhVien:</label>
    <input type="text" name="HoTenSinhVien" value="" />
    <input type="submit" name="Gui du lieu" value="" />
}


